.DoorLock-container {
  width: 250px;
  height: 340px;
  border: 1px solid #555;
  margin: 30px auto 0;
  padding: 10px;
  box-sizing: border-box
}

.DoorLock-screen {
  width: 100%;
  height: 70px;
  border: 1px solid #555;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
  line-height: 70px;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 5px;
}

.DoorLock-screen-access {
  background: darkgreen;
  color: #fff;
  font-size: 14px;
}
.DoorLock-screen-error {
  background: indianred;
  color: #fff;
  font-size: 14px;
}

.DoorLock-keyboard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.DoorLock-button {
  width: 30%;
  height: 50px;
  border: 1px solid #555;
  text-align: center;
  line-height: 50px;
  margin-bottom: 10px;
  font-size: 26px;
  color: #333;
}

.DoorLock-button:hover {
  cursor: pointer;
  background-color: #555;
  color: #fff;
}